
  <div class= "routes-1" [ngClass]="{'routes' :true , 'class1':visualisationRoutes=='class1',
   'class2':visualisationRoutes=='class2', 'class3':visualisationRoutes=='class3' }" >  
  <div class="popRoutes">
      <h3>Popular routes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>
  <div class="routeImg-1">
          <a href="#">Title </a>
    
  </div>
  <div class="routeImg-2">
       <a href="#">Title</a>
      
   </div>
   <div class="routeImg-3">
       <a href="#">Title</a>
  </div>
  <div class="routeImg-4">
       <a href="#">Title</a>
  </div>
  <div class="routeImg-5">
       <a href="#">Title</a>
   </div>
   <div class="routeImg-6">
       <a href="#">Title</a>
   </div>  
</div>
