<div class="wrapper3">
  <div class="main">
      <div class="details">
          <h3>Place</h3>
          <div class="placeImage"></div>
          <app-menu-tab></app-menu-tab>
      </div>
      <div class="photos">
          <h3>Best photos</h3>
          <div class="slider">
          <input type="radio" id="i1" name="images" checked/>
          <input type="radio" id="i2" name="images"/>
          <input type="radio" id="i3" name="images"/>
         

          <div class="slide" id="one">
              <img src="assets/images/meditate.jpg">
          </div>
          <div class="slide" id="two">
                  <img src="assets/images/article4.jpg">
          </div>
          <div class="slide" id="three">
                  <img src="assets/images/place1.jpg">
          </div>

          <div class="nav-buttons">
                  <label for="i1" class="buttons" id="button1"></label>
                  <label for="i2" class="buttons" id="button2"></label>
                  <label for="i3" class="buttons" id="button3"></label>     
          </div>
      </div>
  </div>
  </div>
</div>