@import "src/sass/styles.scss";

mat-tab-group {
    @include font-settings(21px,Arial);
    margin-top:20px;
    align-items: center;
    
    /deep/ .mat-tab-label{
        max-width: 185px;
        padding: 0 10px;
     
    }

    h3{
        text-align:center;
    }
    h3,p {
        @include font-settings(18px,Arial);
    }
}
