
<nav mat-tab-nav-bar class="menu">
  <a mat-tab-link class="menuLinks"
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<!---<nav mat-tab-nav-bar class="menu">
  <mat-tab-group class='tab-menu' >
      <mat-tab *ngFor="let link of navLinks">
           <ng-template mat-tab-label>
              <a  mat-tab-link  class='menuLinks'
                    [routerLink]="link.path"
                    [routerLinkActiveOptions]="{exact: true}"
                    routerLinkActive #rla="routerLinkActive">
              {{link.data['label']}} 
              </a>
          </ng-template>
     </mat-tab>
  </mat-tab-group>
</nav>-->

<!---<ul class="mainMenu">
  <li class="menuElement">
      <a routerLink="/home"  routerLinkActive="active" class="menuElement">Home</a>
  </li>
  <li class="menuElement">
      <a routerLink="/routes"  routerLinkActive="active" class="menuElement">All routes</a>
  </li>
  <li class="menuElement">
      <a routerLink="/articles"  routerLinkActive="active"  class="menuElement">Articles</a>
  </li>
</ul>-->


<router-outlet></router-outlet>