<footer class="footer">
         
  <div class="about">
          <h4>About</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         
      </div>
      <div class="logo">
              <a href="#"><img class="backimage" src="assets/images/logo.jpg"></a>
       </div>
      <div class="info">
          <h4>Information</h4>
          <a href="#">Mailing list</a>
          <a href="#">Privacy</a>
          <a href="#">Advertise</a>
      </div>
      <div class="social">
          <h4>Connect with us</h4>
          <a href="#"><img class="socialnet" src="assets/images/twitter.png"></a>
          <a href="#"><img class="socialnet" src="assets/images/fb.png"></a>
          <a href="#"><img class="socialnet" src="assets/images/vk.png"></a>
      </div>
</footer>