@import "src/sass/styles.scss";


.wrapper {
    .header {
        @extend .header;
    }

    .content {
        width:100%;
        order:2;
        
        .promotion {
            @include background(travel3);
            @include quote-settings;
            text-align: center;
            height:500px;
            width:100%;
            position: relative;
        }
     
       .box {
        @include basic-width-and-margin(25%,30px auto);
        .list {
            width:100%;
            margin:0;
            padding: 0;
            text-align:center;
            list-style-type: none;
            width: 20em;
             li {
               @include font-settings(24px,Arial);
               display: inline-block;
               padding: .4rem;
               border-radius: 4px;
               cursor: pointer;
            }
            li.selected:hover {
                background-color: $color-palette2 !important;
                opacity:0.9;
                color: white;
              }
          }

        }


        .usefulArticles {
            @include basic-width-and-margin(90%,20px auto);
            height:500px;
            display:grid;
            grid-gap:20px;
            grid-template-rows:100px 1fr 100px;
            grid-template-columns: repeat(3,1fr);

            @each $number in 1,2,3 {
                .articleBlock-#{$number} {
                    @include background(article#{$number});
                    @include title-link-settings;
                    position: relative;
                }
            }

            h2 {
                text-align : center;
                @include grid-element-position(1,2);
                @include font-settings(30px,Arial);
            }

            .articleBlock-1 {
                @include grid-element-position(2,1/2);

            }
            .articleBlock-2{
                @include grid-element-position(2,2/3);
              
            }
            .articleBlock-3 {
                @include grid-element-position(2,3/4);
            }

            .articleBlock-1:hover,.articleBlock-2:hover,.articleBlock-3:hover {
                @extend %articleBlock-hover-effects;
            }


            .button {
                @include grid-element-position(3,2);
                @include link-effects(black,$color-palette2);
                @include font-settings(24px,Arial);
                text-align: center;
            }
        }

    }

     
}


  

