<div class="wrapper">
  <header class="header">
      <a href="#" class="logo"><img class="backimage" src="assets/images/logo.jpg"></a>
      <ul class="mainMenu">
          <li class="menuElement">
              <a href="#home" class="menuElement">Home</a>
          </li>
          <li class="menuElement">
              <a href="#allRoutes" class="menuElement">All routes</a>
          </li>
          <li class="menuElement">
              <a href="#articles" class="menuElement">Articles</a>
          </li>
      </ul>
  </header>
  <div class="content">
      <div class="promotion">
          <h3 class="quote">Better to see something once than hear about it a thousand times</h3>
           
      </div>
      <div class="routes">
          
              <div class="popRoutes">
                  <h3>Popular routes</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation</p>
              </div>
              <div class="routeImg-1">
                      <a href="#">Title </a>
                
              </div>
              <div class="routeImg-2">
                   <a href="#">Title</a>
                  
               </div>
               <div class="routeImg-3">
                   <a href="#">Title</a>
              </div>
              <div class="routeImg-4">
                   <a href="#">Title</a>
              </div>
              <div class="routeImg-5">
                   <a href="#">Title</a>
               </div>
               <div class="routeImg-6">
                   <a href="#">Title</a>
               </div>  
      </div>
      <div class="usefulArticles">
          <h2>Useful articles</h2>
          <div class="articleBlock-1">
             
              <a href="#">Title</a>
          </div>
          <div class="articleBlock-2">
  
                  <a href="#">Title</a>
           </div>
           <div class="articleBlock-3">
               
                  <a href="#">Title</a>
          </div>
          <div class="button">
              <a href="#">All articles</a>
          </div>
      </div>
  </div>
</div>