<div class="wrapper">
  <div class="content">
      <div class="promotion">
          <h3 class="quote">Better to see something once than hear about it a thousand times</h3>    
      </div>
      <app-route-details [position] ='position'></app-route-details>
      <div class = "box">
      <ul class="list">
        <li *ngFor="let page of list"
          [class.selected]="page === selectedPage"
          (click)="onSelect(page)">
          <span class="badge">{{page.id}}</span>
        </li>
     </ul>
    </div>
      <div class="usefulArticles">
          <h2>Useful articles</h2>
          <div class="articleBlock-1">
             
              <a href="#">Title</a>
          </div>
          <div class="articleBlock-2">
  
                  <a href="#">Title</a>
           </div>
           <div class="articleBlock-3">
               
                  <a href="#">Title</a>
          </div>
          <div class="button">
              <a href="#">All articles</a>
          </div>
      </div>
  </div>
</div>